:root {
}
header {
    /* background-color:cornflowerblue; */
    padding:10px 15px;
    height:80vh;
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Gilroy' !important; 
    position:relative;
    font-family: 'Gilroy';
    max-width:100vw;
    transition:background-image 0.5s;
}

.logoContainer {
    display:flex;
    flex-direction: column;
    width:100px;
}
nav {
    display:flex;
    justify-content: space-between;
}
.navBtns {
    display:flex;
    align-items:center;
    width:350px;
    justify-content: space-between;
    /* background:red; */
}
.navBtns button {
    background: none;
    color:#fff;
    padding:10px 15px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    border: 1px solid rgba(255, 255, 255, 0.2);    
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center
}

.contactBtn {
    border:none !important;
    border-right: 1px solid rgba(255, 255, 255, 0.3)!important;
    border-top-right-radius:0 !important;
}
.arrow {
    position:relative;
    right:20px;
}
.navBtns button:hover, .navBtns img:hover {
    cursor: pointer;
}
.titleContainer { 
    display:flex;
    align-items: center;
    flex-direction: column;
    /* transform: translateY(50px); */
    color:#fff;
    width:60%;
    margin:auto;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 40px 80px rgba(0, 0, 0, 0.3);
    /* background-color: aquamarine; */

}
.titleContainer h1 {
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 95%;
text-align: center;
margin-bottom:0px;
}
.titleContainer p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 22px; */
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /* background-color: aquamarine; */
    position: relative;
    /* top:-90px; */
    width:40%;
    /* height:1vh; */

}
.dotsContainer {
    color:white;
    /* background-color: rgb(187, 187, 187); */
    display:flex;
    flex-direction: column;
    width:450px;
    justify-content: center;
    align-items:center;
    margin:auto;
    position: absolute;
    bottom:100px;
    left:0;
    right:0;   
   /*  backdrop-filter: blur(20px);
    opacity: 0.7; */
    /* background-color: rgb(8, 112, 55); */
    z-index:2;
}
.dotsContainer::after {
    content:'';
    display:block;
    position:absolute;
    width:500px;
    height:80px;
    backdrop-filter: blur(20px);
    opacity: 0.7;
    z-index:-1;
    border-radius:12px;
    -webkit-mask: radial-gradient(circle,rgba(0,0,0,.9) 140px,transparent 300px);
}
.dotsContainer p {
    text-align: center;
    /* background-color: aquamarine; */
}
.dots {
    display:flex;
}
.dots button {
    border: 0 solid #fff;
    margin: 3px;
    width: 11px;
    height: 11px;
    display: block;
    /* background-color: #fff; */
    border-radius:50%;
    background-color: rgb(206, 206, 206);

}
.dots button:hover {
    cursor:pointer
}
/* .dots .btn_1 {
    background-color: red;
}
 */