.searchContainer{
width: 1100px;
margin:auto;
border-radius: 20px;
border: 2px solid #FFFFFF;
box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.03);
background: #fff;
display: flex;
align-items: center;
justify-content: space-around;
position:relative;
top:-40px;
font-family: 'Inter', sans-serif;
}
.cityContainer {
    position:relative;
    display: inline-block;
}
.cityContainer .cityDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 17px;
    font-weight: 500; 
    border-radius:20px;
    padding:5px;
    left:-14px;
}
.cityDropdown p {
    padding:10px;
    border-radius: 5px;
}
.cityDropdown p:hover {
    background-color:#e7e8e9;

}
.cityContainer, .datesContainer, .checkOutContainer{
    border-bottom:2px solid transparent;
} 
.cityLabel{
    font-size: 12px;
    margin-bottom:0;
}
.citySelection {
    color: #4b5154;
    font-size: 17px;
    font-weight: 500;
    margin-top:10px;
}
.datesContainer p:first-child, .checkOutContainer p:first-child {
    font-size: 12px;
    margin-bottom:0;
}
.datesContainer p:nth-child(2), .checkOutContainer p:nth-child(2) {
    color: #4b5154;
    font-size: 17px;
    font-weight: 500;
    margin-top:10px;
}
.datesContainer {
    position:relative;
    width:20%;
}
.datesContainer .datesDropdown{
    position:absolute;
    width:800px;
    min-height:350px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:-200px;
    padding-top:20px;
    border-radius:25px;
    display: none;
    background: #fff;
    z-index:2;
}
.calenderContainer {
    width:100%;
}
.calenderSelection {
    width:170px;
    border-radius: 20px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    border: 1px solid rgb(218, 217, 217);
    margin-bottom:10px;
    position: relative;
    padding:2px;

}
.closePopUp{
    width:20px;
    position:absolute;
    right:20px;
    top:20px;
}

.calenderSelection button {
    font-size:16px;
    background-color: transparent;
    border:none;
    padding:10px 10px;
    border-radius: 20px;
    font-weight:600;
    
}
.calenderSelection button:hover {
    cursor: pointer;
}


.calender {
    width:45%;
    padding-bottom:20px;
    font-family:'Gilroy'
}
.monthContainer {
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
    width:55%;
    align-items: center;
}
.secondMonthContainer {
    justify-content: space-between;
    width:55%;
    float: right;
    display:flex;
    align-items: center;
    font-weight: bold;
}

.secondMonthContainer img{
    width:14px;
    height:16px;
}
.monthContainer img {
    width:14px;
    height:16px;
}
.monthContainer span {
    font-weight:bold;
}
.daysContainer {
    width:100%;

}
.daysContainer .dates {
    display:flex;
    justify-content: space-between;
    width:85%;
    margin:auto;
}
.daysContainer .days {
    width:95%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    justify-items:center;
    font-size:13px;
}
.daysContainer .days span{
    margin:3px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: grid;
    align-content: center;
    text-align: center;
    border:1px solid transparent;


}
.daysContainer .days span:hover{
    background-color: #72A2AF;
    color:#fff;
}


.guestsContainer {
    display:flex;
    flex-direction: column;
}
.guestsContainer p {
    font-size: 12px;
}
.guestNumbers {
    display:flex;
    align-items: center;
    position:relative;
    top:-13px;
    
}
.guestNumbers span {
    margin-right:30px;
}
.guestBtns {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 26px;

}
.guestBtns button {
    border:none;
    border-radius: 32px;
    font-size: 20px;
    height:100%;
    width:50%;
    background-color: transparent;
    color:rgb(94, 93, 93);
    font-size:25px;
}
.guestBtns button:hover {
    cursor:pointer;
    box-shadow:0 0 2px rgb(190, 190, 190);
}
.searchBtnContainer {
    height: 65px;
    width: 200px;
    border-radius: 20px;
    background: linear-gradient(90deg, #72A2AF 0%, #4A7889 100%);
    display:grid;
    align-content: center;
}
.searchBtnContainer button{
    background: transparent;
    border:none;
    width:100%;
    height:74px;
    border-radius: 20px;
    font-size: 20px;
    color:#fff;
    font-weight:200;
}
.searchBtnContainer img{
 width:15px;
 margin-right:5px;
}
.searchBtnContainer button:hover {
    cursor:pointer;
}
.cityContainer:hover, .datesContainer:hover, .checkOutContainer:hover {
    cursor: pointer;
    border-bottom:2px solid #4b5154;
}
.submitDatesContainer {
    border-top: 1px solid rgb(201, 200, 200);
    padding:20px 20px;
    display: flex;
    justify-content: space-between;
}
.submitDatesContainer button {
    font-size:18px;
    font-family: 'Gilroy';

}
.submitDatesContainer button:hover {
    cursor: pointer;
}
.submitDatesContainer button:first-child {
    border:none;
    background-color: #fff;
    font-weight:500;
}
.submitDatesContainer button:last-child {
    background-color: #75969f;
    border-radius: 20px;
    color:#fff;
    border:1px solid rgb(201, 200, 200);
    font-weight:bold;
    padding:10px 10px;
}
.calenders {
    display: flex;
    padding-left:10px;
    padding-right:10px;
    justify-content: space-around;
}
.weekendContainer p{
    font-size:17px !important;
    text-align: center;
}
.weekendBtns {
    display:flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top:15px !important;
    border:1px solid lightgrey;
    width:260px;
    margin:auto;
    padding-top:2px;
    padding-bottom:2px;
    
}
.weekendBtns button{
    font-size: 15px;
    border:none;
    padding:11px 15px;
    background-color: transparent;
    border-radius: 20px;
    transition:all 0.3s;
    font-weight:bold;
}
.weekendBtns button:hover{
background-color: #75969f;
color:#fff;
cursor: pointer;
}
.weekendText {
    text-align: center;
    margin-top:20px !important;
    margin-bottom:20px;

}
.monthsBtnContainer {
    position: relative;
}
.monthsBtnContainer p {
    text-align: center;
    z-index: 0;
}
.monthsBtnContainer p:after {
    content:'';
    width:47%;
    height:1px;
    background: rgb(218, 218, 218);
    position: absolute;
    left:0;
    z-index:-1;
    top:7px;
}
.monthsBtnContainer p:before {
    content:'';
    width:47%;
    height:1px;
    background: rgb(218, 218, 218);
    position: absolute;
    right:0;
    z-index:-1;
    top:7px;
}
.monthBtns {
    width:95%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.monthBtns button {
    font-size: 15px;
    border:none;
    padding:11px 15px;
    background-color: transparent;
    border-radius: 20px;
    border:1px solid rgb(228, 227, 227);
    margin:8px;
    font-weight: bold;
   
}
.monthBtns button:hover {
    background-color: #75969f;
    color:#fff;
    cursor: pointer;
}
@media(max-width:1100px) {
    .searchContainer {
        width:700px;
        top:-160px;
        flex-direction: column;
        z-index:2;
        padding:10px;
    }
    .cityContainer, .datesContainer, .guestsContainer, .searchBtnContainer {
        width:100%;
        border-bottom: 1px solid lightgrey;
        padding:5px 12px;

    }
    .guestsContainer {
        border: none;
    }
    .guestNumbers {
        justify-content: space-between;
    }
    .cityDropdown {
        width:100%;
        position:absolute;
        margin-left:10px;
    }
    .datesDropdown {
        width:680px !important;
        position:absolute;
        left:0 !important;
        margin:auto;
        right:0;
    }
}
@media(max-width:700px) {
    .searchContainer {
        width:70vw;
    }
    .datesDropdown {
        width:66vw !important;
    }
    .monthContainer {
        width:90%;
    }
    .calender {
        width:90%;
    }
  
}